/* CSS declarations go here */
/* Global */
body {
  font-family: 'Kurale', serif;
}

/* Navigation bar */
nav .brand-logo {
  padding: 0 15px;
}

/* Listings page */
div.map-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
/* First Page */
.centered-text {
  text-align: center;
}

.large-link {
  color: black;
  font-size: 3em;
}

/* Second Page */
input.dashed {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  width: 20px;
}

.row {
  margin-top: 64px;
}

.large-text {
  font-size: 2.4em;
}

.row input.large-input-text {
  height: 60px;
  font-size: 1em;
}

/* Or - Spacer */
.or-spacer {
  margin: 68px 10% 0 10%;
  width: 80%;
  position: relative;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}
.or-spacer span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}
.or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #999;
}
